/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Aug 12, 2023, 7:08:37 PM
    Author     : dharani
*/

/* dash.css */

.content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
}

.content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .cards .card {
    width: 250px;
    height: 150px;
    background: buttonface;
    margin: 20px 10px;
    justify-content:space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2
        );
}
